@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blaka+Hollow&display=swap');

* {
  margin: 0px;
  padding: 0px;

  font-family: 'Inter', sans-serif;
}

.login {
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/1203808/pexels-photo-1203808.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  filter: drop-shadow(0.5);
}

.puzzle {
  background-image: url("https://i.pinimg.com/originals/4b/08/a2/4b08a278c2569182ef72063ed6fa88d0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hunt {
  background-image: url('https://vignette.wikia.nocookie.net/disney/images/9/90/Pirates4JackSparrowPosterCropped.jpg/revision/latest?cb=20151120172626');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}